{% extends 'moderna.layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <h2>Laboratorio de Análisis Químico</h2>

            <p>
                El software de apoyo a la información que se genera en el Laboratorio de Análisis Químico de la Estación
                Experimental de Pastos y Forrajes Indio Hatuey, permite:</p>
            <ul>
                <li>
                    Gestión de muestras y seguimiento.
                </li>
                <li>
                    Gestión de todas las etapas de un proceso analítico desde la recepción de la muestra, a la emisión
                    de informes finales.
                </li>
                <li>
                    Gestión y acceso a la normativa y procedimientos de laboratorios.
                </li>
            </ul>


        </div>
    </div>
    <div class="col-lg-5">
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                <li data-target="#carousel-example-generic" data-slide-to="14"></li>
                <li data-target="#carousel-example-generic" data-slide-to="15"></li>
                <li data-target="#carousel-example-generic" data-slide-to="16"></li>
                <li data-target="#carousel-example-generic" data-slide-to="17"></li>
                <li data-target="#carousel-example-generic" data-slide-to="18"></li>
                <li data-target="#carousel-example-generic" data-slide-to="19"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ asset('images/1.jpg') }}" alt="...">
                </div>
                <div class="item">
                    <img src="{{ asset('images/2.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/3.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/4.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/5.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/6.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/7.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/8.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/9.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/10.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/11.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/12.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/13.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/14.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/15.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/16.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/17.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/18.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/19.jpg') }}" alt="...">
                </div>

                <div class="item">
                    <img src="{{ asset('images/20.jpg') }}" alt="...">
                </div>
            </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
   {% endblock %}

{% block aditionalscripts -%}
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>

{% endblock %}
