<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<h1>Muestras agrupadas por especie</h1>

{% for entity in entities %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Especie</th>
            <th>Muestras</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ entity }}</td>
            <td>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Estado</th>
                        <th>Descripcion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for m in entity.muestras %}
                        <tr>
                            <td>{{ m.noOrden }}</td>
                            <td>{{ m.estado }}</td>
                            <td>{{ m }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>

        </tbody>
    </table>
{% endfor %}
</body>
</html>