{% extends 'layout.html.twig' %}

{% block aditionalStyle %}
    <link rel="stylesheet" href="{{ asset('css/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mbs-qdtf.css') }}">
{% endblock %}

{% block content -%}
    <h1>Muestras</h1>

    {% for entity in entities %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Actividad</th>
                <th>Muestras</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ entity }}</td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Estado</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for e in entity.experimentos %}
                            {% for m in e.muestras %}
                                <tr>
                                    <td>{{ m.noOrden }}</td>
                                    <td>{{ m.estado }}</td>
                                    <td>{{ m }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>

                </td>
            </tr>

            </tbody>
        </table>
    {% endfor %}
{% endblock %}

{% block adicionalscripts %}
    <script src="{{ asset('js/datatables.js') }}"></script>
    <script src="{{ asset('js/mbs-qdtf.js') }}"></script>
    <script src="{{ asset('js/pdfmake.js') }}"></script>
    <script src="{{ asset('js/vfs_fonts.js') }}"></script>
{% endblock %}
