{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Análisis</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Análisis</th>
            <th>Aprobado?</th>
            <th>Resultado</th>
            <th>Técnico</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.analisis }}</td>
                {% if entity.aprobado %}
                    <td><span class="label label-success"> Verdadero</span></td>
                    <td>{{ entity.resultado }}</td>
                    <td>{{ entity.tecnicoLaboratorio }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('muestra_analisisresultados', { 'id': entity.Id }) }}">Agregar
                            Valores</a>
                    </td>
                {% else %}
                    <td><span class="label label-danger"> Falso</span></td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                        <a class="btn btn-info disabled" href="{{ path('muestra_analisisresultados', { 'id': entity.Id }) }}">Agregar
                            Valores</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
