{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Muestra list</h1>

    <a class="btn btn-success" href="{{ path('muestra_new') }}">Agregar Muestra</a>
    <table class="table">
        <thead>
        <tr>
            <th>No orden</th>
            <th>Clave interna</th>
            <th>Clave externa</th>
            <th>Experimento</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.noOrden }}</td>
                <td>{{ entity.claveInterna }}</td>
                <td>{{ entity.claveExterna }}</td>
                <td>{{ entity.experimento }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('muestra_edit', { 'id': entity.Id }) }}">Editar</a>
                    <a class="btn btn-danger" href="{{ path('muestra_show', { 'id': entity.Id }) }}">Borrar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
