{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Muestra</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.Id }}</td>
            </tr>
            <tr>
                <th>Noorden</th>
                <td>{{ entity.NoOrden }}</td>
            </tr>
            <tr>
                <th>Claveinterna</th>
                <td>{{ entity.ClaveInterna }}</td>
            </tr>
            <tr>
                <th>Claveexterna</th>
                <td>{{ entity.ClaveExterna }}</td>
            </tr>
        </tbody>
    </table>
        {{ form(delete_form) }}
{% endblock %}
