{% extends 'layout.html.twig' %}

{% block body -%}
    <h1>Reactivo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.Id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.Nombre }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reactivo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reactivo_edit', { 'id': entity.Id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
