{% extends 'layout.html.twig' %}

{% block content -%}
    <div class="col-lg-12">
        <h1>Lista de Investigadores</h1>
        {% for Message in app.session.flashbag.get('info') %}
            <p class="alert alert-success">
                <i class="fa fa-smile-o"></i>
                {{ Message | raw }}
            </p>
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading"> <a href="{{ path('investigador_new') }}" class="btn btn-success">Nuevo Investigador</a> </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre y Apellidos</th>
                                <th>Nombre de usuario</th>
                                <th>Correo electrónico</th>
                                <th>Rol</th>
                                <th>Activo?</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.Name }}</td>
                                    <td>{{ entity.UserName }}</td>
                                    <td>{{ entity.Email }}</td>
                                    <td>{{ entity.RolesToString }}</td>
                                    <td>{{ entity.IsActive }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('investigador_edit', { 'id': entity.Id }) }}">Editar</a>|
                                        <a class="btn btn-danger" href="{{ path('investigador_show', { 'id': entity.Id }) }}">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}