{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Investigador</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.Id }}</td>
        </tr>
        <tr>
            <th>Nombre y Apellidos</th>
            <td>{{ entity.Name }}</td>
        </tr>
        <tr>
            <th>Nombre de usuario</th>
            <td>{{ entity.UserName }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.Email }}</td>
        </tr>
        <tr>
            <th>Activo?</th>
            <td>{{ entity.IsActive }}</td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <a class="btn btn-default" href="{{ path('investigador') }}">Lista de Investigadores</a>
        {{ form(delete_form) }}
    </div>

{% endblock %}
