{% extends 'layout.html.twig' %}

{% block aditionalStyle %}
    <link href="{{ asset('bower_components/datepicker/css/datepicker.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content -%}
    <div class="col-lg-12">
        <h1>Editar Entrada de Reactivo</h1>
        <div class="panel panel-default">
            <div class="panel-heading"> </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_start(edit_form, {'attr':{ 'class':'form-horizontal' }}) }}
                        <div class="form-group">
                            <div class="col-md-7">
                                {{ form_label(edit_form.fecha) }}
                                {{ form_widget(edit_form.fecha,{'attr':{ 'class':'form-control' }}) }}
                                {{ form_errors(edit_form.fecha) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                {{ form_label(edit_form.reactivo) }}
                                {{ form_widget(edit_form.reactivo,{'attr':{ 'class':'form-control' }}) }}
                                {{ form_errors(edit_form.reactivo) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                {{ form_label(edit_form.cantidad) }}
                                {{ form_widget(edit_form.cantidad,{'attr':{ 'class':'form-control' }}) }}
                                {{ form_errors(edit_form.cantidad) }}
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success" value="Guardar">
                        <a href="{{ path('entradareactivo') }}" class="btn btn-default">Lista de entradas de reactivos</a>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block adicionalscripts %}
    <script src="{{ asset('bower_components/datepicker/js/bootstrap-datepicker.js')}}"></script>

    <script>
        $(document).ready(function(){
            $('#appbundle_entradareactivo_fecha').datepicker();
        });
    </script>
{% endblock %}
