{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Entrada de Reactivo</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.Id }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.Fecha|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Cantidad</th>
            <td>{{ entity.Cantidad }}</td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <a class="btn btn-default" href="{{ path('entradareactivo') }}">Lista de Entradas de Reactivos</a>
        {{ form(delete_form) }}
    </div>
{% endblock %}

